<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            #title_align {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h3>
            <a href="/The-Mountain" title="Main Paige">The Mountain</a> |
            <a href="/Go-Tell-It-On-A-Mountain" title="Post a Blog">Go Tell it on a Mountain!</a>
        </h3>

        {% block content %}
        {% endblock %}

    </body>
</html>