<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            #title_align {
                text-align: center;
            }
            .error {
                color: red;
            }
        </style>
    </head>
    <body>

        <div>
            <a href="./logout" title="Click to Logout">log out</a> |
            <a href="/The-Mountain" title="Main Paige">The Mountain</a> |
            <a href="/Go-Tell-It-On-A-Mountain" title="Post a Blog">Go Tell it on a Mountain!</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}

            <ul>
                {% for category,message in messages %}

                <li class="{{category}}">{{ message }}</li>

            {% endfor %}

            </ul>

        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>