{% extends "base.html" %}

{% block content %}
    <div id="title_align">
        <h1>The Mountain</h1>
    </div>

    <hr />

    {% if blog_posts|length == 0 %}
    <p>No Blog Posts Yet</p>
    {% else %}

        <ul>
            {% for post in blog_posts %}
            
                <p>{{post.id}}</p> 

                <a href="/I-said-it!?id={{post.id}}"><h4>{{post.title}}</h4></a>
            
                <p>{{post.body}}</p>

            </form>
            
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
